@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DemoApplication.ViewModels.Admin.Navbar
@model List<ListItemViewModel>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-route="admin-navbar-add" target="_blank" class="btn btn-secondary">Add new navbar</a>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Navbars</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Order</th>
                            <th>IsBold</th>
                            <th>IsShowenHeader</th>
                            <th >IsShowenFooter</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var navbar in Model)
                        {
                            <tr>
                               
                                <td>@navbar.Name</td>
                                <td>@navbar.Order</td>
                                <td>@navbar.IsBold</td>
                                <td>@navbar.IsShowenHeader</td>
                                <td>@navbar.IsShowenFooter</td>




                                <td class="text-end">
                                    <a asp-route="admin-navbar-update" asp-route-id ="@navbar.Id"><i class="las la-pen text-secondary font-16"></i></a>
                                    <form asp-route="admin-navbar-delete" asp-route-id="@navbar.Id" id="update-@navbar.Id"></form>
                                    <button form="update-@navbar.Id"><i class="las la-trash-alt text-secondary font-16"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>